@font-face {
  font-family: 'TT Travels';
  src: url('../fonts/TTTravels-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Travels';
  src: url('../fonts/TTTravels-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TT Travels';
  src: url('../fonts/TTTravels-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Travels';
  src: url('../fonts/TTTravels-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Travels';
  src: url('../fonts/TTTravels-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'TT Travels';
  src: url('../fonts/TTTravels-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

